h1 {
    text-decoration: none;
    color: gold;
    
}

.blank {
    width: 150px;
    height: 75px;
    background-color: skyblue;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    
}